fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-ollama
langchain-text-splitters
chromadb
pypdf
python-docx
sentence-transformers
unstructured
python-dotenv
pydantic
pydantic-settings
sqlalchemy
